/*.footer-home {
  font-size: 30px;
  height: 90px;
  display: flex;
  justify-content: space-between;

  .welcomePage {
    display: flex;
    justify-content: flex-start;
    margin: 20px;
    font-size: 25px;
  }
  .logo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 10px;
    img {
      height: 150px;
      width: 150px;
      cursor: pointer;
      margin-top: 30px;
    }
  }
}
#image-log {
  margin-top: 18px;
  height: 55%;
  width: 50px;
  cursor: pointer;
}
*/
footer {
  padding: 10px 20px;
  background-color: #353535;
  color: white;
  text-align: justify;

  h1 {
    font-size: 17px;
    font-weight: normal;
    margin: 8px;
  }
}

ul {
  padding: 10px 0px;
}

li {
  list-style: none;
  margin: 8px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  img {
    height: 150px;
    width: 150px;
    cursor: pointer;
    margin-top: 30px;
  }
}
